body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--basic-textcolor);
}

/* ------- 

reset style for tags and base classes

------- */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

address {
  font-style: normal;
}

/* .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
} */

.btn-submit {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border-style: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  transition: box-shadow 250ms var(--timing-transition);
}

.btn-submit:focus,
.btn-submit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ------- 

Style general container
container

------- */

.wrapper {
  max-width: 100%;
  min-width: var(--width-container);
  margin: 0 auto;
}

.wrapper--borderbottom {
  border-bottom: 1px solid var(--border-header-color);
}

.wrapper--background-image {
  background-image: linear-gradient(
    to right,
    var(--accent-bgcolor-40),
    var(--accent-bgcolor-40)
  );
}

.container {
  width: var(--width-container);
  margin: 0 auto;
  padding: 94px 15px;
}

/* -------

general style section elements

------- */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--basic-hcolor);
}

.title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title--whitecolor {
  color: var(--white-color);
}

.title--uppercase {
  text-transform: uppercase;
}

.portfolio__title,
.ourteam__title,
.clients__title {
  margin-bottom: 50px;
  text-align: center;
}

.text {
  line-height: 1.71;
}

/* ------- 

general HEADER and FOOTTER sections: logo, menu, contact

------- */

.header__container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  min-height: 80px;
}

.header__logo {
  margin-right: 93px;
}

.logo__link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  outline: none;
}

.logo__link:focus {
  box-shadow: 0 0 0 3px var(--accent-color);
}

.logo__part--blackcolor {
  color: var(--header-logo-secondpart-color);
}

.logo__part--whitecolor {
  color: var(--footer-logo-secondpart-color);
}

/* style header lists for menu and contact-info*/
.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__item {
  position: relative;
}

.menu__item:not(:first-child) {
  margin-left: 50px;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--basic-hcolor);
  outline: none;
}

.menu__link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-transition);
}

.listinfo {
  list-style: none;
}

.header__listinfo{
  display: flex;
  margin-left: auto;
}

.header__listinfo__item:not(:last-child) {
  margin-right: 50px;
}

.listinfo__link {
  text-decoration: none;
}

.menu__link:hover,
.listinfo__link:hover,
.menu__link:focus,
.listinfo__link:focus {
  color: var(--accent-color);
  outline: none;
}

.menu__link:not(.menu__link--active):hover::after,
.menu__link:not(.menu__link--active):focus::after {
  content: '';
  display: block;

  transform: scaleX(1);
}

/* -------

.menu .link:focus,
.listinfo .link:focus {
  box-shadow: 0 0 0 3px var(--accent-color);
} 

------- */

.menu__link--active {
  color: var(--accent-color);
}

.menu__link--active::after {
  content: '';
  width: 100%;
  transform: scaleX(1);
}

.listinfo__link--view-for-header {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--basic-textcolor);
}

.listinfo__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

/* ------- 

section Hero 

 ------- */

.hero__background {
  max-width: var(--width-canvas);
  min-height: var(--height-canvas);
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      var(--accent-bgcolor-40),
      var(--accent-bgcolor-40)
    ),
    url(../images/hero-background.jpg);
}

.hero__container {
  padding: 200px 0;
}

.hero__btn-submit {
  margin: 0 auto;
}

.headline {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__headline {
  margin-bottom: 30px;
  text-align: center;
}

.headline--whitecolor {
  color: var(--white-color);
}

/* ------- 

style items - list of elements 

------- */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.clients__items {
  justify-content: flex-start;
  margin-top: calc(-1 * var(--min-indent));
  margin-left: calc(-1 * var(--min-indent));
}

.features__items__item {
  width: 270px;
}

.clients__items__item {
  height: 90px;
  flex-basis: calc(100% / 6 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
  outline: none;
}

.items__item--relative {
  position: relative;
}

.items__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--social-color);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  outline: none;

  transition: background-color 250ms var(--timing-transition),
    color 250ms var(--timing-transition),
    box-shadow 250ms var(--timing-transition);
}

.items__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.items__link:focus {
  color: var(--accent-color);
  box-sizing: border-box;
  border: 0;
  box-shadow: 0 0 0 1px var(--accent-color);
}

.items__thumb {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--section-bgcolor);
  border-radius: 4px;
}

.items__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.items__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.items__overlay__title {
  padding: 27px 0;
  text-align: center;
  font-size: 14px;
}

.items__overlay--bg-img {
  background-image: linear-gradient(
    to right,
    var(--accent-bgcolor-80),
    var(--accent-bgcolor-80)
  );
}

.items__title {
  font-weight: 700;
  color: var(--basic-hcolor);
  text-transform: uppercase;
}

.features__items__title {
  margin-bottom: 10px;
}

.items__text {
  line-height: 1.71;
}

.items__icon {
  fill: currentColor;
}

/* -------

style section portfolio 

------- */

.portfolio__container {
  padding-top: 0;
}

/* -------

style section ourteam 

------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.cards__card {
  text-align: center;
  border-style: hidden;
  border-width: 1px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}

.cards__img {
  display: block;
}

.cards__title {
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
  color: var(--basic-hcolor);
}

.cards__desc {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
}

.ourteam {
  min-width: var(--width-container);
  background-color: var(--section-bgcolor);
}

.cards__content {
  padding: var(--min-indent);
  background-color: var(--white-color);
}

/* ------

STYLE FOR FOOTER

------*/

.footer {
  min-width: var(--width-container);
  background-color: var(--accent-bgcolor);
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__address-desc {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--white-color);
}

.listinfo__link--view-for-footer {
  display: inline-block;
  line-height: 1.71;
  color: var(--footter-acolor-60);
}

.footer__listinfo__item {
  display: block;
}

.footer__listinfo__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-list {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  color: var(--social-color);
}

.footer__social-list {
  justify-content: space-between;
}

.ourteam__social-list {
  justify-content: space-around;
}

.footer__social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--social-color);
  background-color: var(--footter-acolor-10);
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms var(--timing-transition);
}

.social-list__link--whitecolor {
  color: var(--white-color);
}

.social-list__link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__icon {
  fill: currentColor;
}

.form-subscribe {
  display: flex;
  justify-content: baseline;
}

.form-subscribe__input-email {
  padding: 15px 16px;
  min-height: 50px;
  min-width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.form-subscribe__input-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__btn-submit {
  margin-left: 12px;
}

.btn-submit__icon {
  vertical-align: middle;
  fill: currentColor;
}

.btn-submit__icon--right-of-text {
  margin-left: 10px;
}


/*-------
 
ONLY PORTFOLIO PAGES 
 
 -------*/

.section-portfolio .filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-portfolio .filter-nav .listitem:not(:first-child) {
  margin-left: 8px;
}

.section-portfolio .listitem .filter-btn {
  min-height: 38px;
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--section-bgcolor);
  color: var(--basic-hcolor);
  box-shadow: none;
  outline: none;

  transition: background-color 250ms var(--timing-transition),
    color 250ms var(--timing-transition),
    box-shadow 250ms var(--timing-transition);
}

.filter-nav .filter-btn:hover,
.filter-nav .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-nav .filter-btn.active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin-top: calc(-1 * var(--min-indent));
  margin-left: calc(-1 * var(--min-indent));
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portfolio-list .listitem {
  flex-basis: calc(100% / 3 - var(--min-indent));
  margin-top: var(--min-indent);
  margin-left: var(--min-indent);
  border: 1px solid #eeeeee;
}

.prtfolio-card-content {
  padding: 20px 24px;
}

.portfolio-card-container .listitem > a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  border: 1px solid #eeeeee;
  box-shadow: none;
  outline: none;

  transition: box-shadow 250ms var(--timing-transition);
}

.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.portfolio-card-img > .container-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);

  transform: translatey(200%);
  transition: transform 250ms var(--timing-transition);
}

.portfolio-card-container .card-description {
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-card-container .listitem > a:hover,
.portfolio-card-container .listitem > a:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-container .listitem > a:hover .container-overlay,
.portfolio-card-container .listitem > a:focus .container-overlay {
  transform: translatey(0);
}

.portfolio-list .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.88;
  text-transform: capitalize;
  color: var(--basic-textcolor);
}

/* -------

BACKDROP WITH MODAL WINDOW

  ------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: not-allowed;

  transition: opacity 250ms var(--timing-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-order {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: auto;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-transition),
    box-shadow 250ms var(--timing-transition);
}

.backdrop.is-hidden .modal-order {
  box-shadow: none;

  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--logoheader-second-color);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  transition: color 250ms var(--timing-transition);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  color: var(--accent-color);
}

.modal-form {
  min-width: 100%;
  min-height: 100%;
}

.modal-form > .form-title {
  display: block;
  min-width: 100%;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--basic-hcolor);
}

.modal-form .wrap-input {
  position: relative;
  cursor: pointer;
}

.modal-order .modal-form .modal-input {
  display: block;
  min-width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 12px 15px 12px 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--basic-textcolor);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms var(--timing-transition);
}

.modal-form .modal-field-icon {
  position: absolute;
  left: 12px;
  color: var(--basic-hcolor);
  transform: translateY(-40px);
  fill: currentColor;

  transition: color 250ms var(--timing-transition);
}

.modal-form .modal-input:focus + .modal-field-icon,
.modal-form .modal-input:hover + .modal-field-icon {
  color: var(--accent-color);
}

.modal-form .modal-input:hover,
.modal-form .modal-input:focus {
  border-color: var(--accent-color);
}

.modal-form .modal-input.modal-textarea {
  min-height: 120px;
  margin-bottom: 0;
  padding-left: 17px;
  resize: none;
}

.modal-form .modal-input.modal-textarea::placeholder {
  color: var(--basic-textcolor-50);
}

.modal-form .modal-lable {
  display: block;
  min-width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--basic-textcolor);
}

.modal-accept-terms-field {
  position: relative;
  min-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 23px;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.modal-form .modal-chbox-accept-terms:checked + .modal-field-icon {
  border: none;
}

.modal-form .modal-chbox-accept-terms:checked + .modal-field-icon > use {
  display: block;
}

.modal-form .modal-chbox-accept-terms:not(:checked) + .modal-field-icon > use {
  display: none;
}

.modal-form .modal-accept-terms-field {
  cursor: pointer;
}

.modal-link-terms {
  color: var(--accent-color);
}

.modal-accept-terms-field > .modal-field-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--basic-hcolor);
  border-radius: 2px;
}

.modal-form > .btn-submit {
  margin: 0 auto;
}
