body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--basic-textcolor);
}

/* ------- 

reset style for tags and base classes

------- */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

address {
  font-style: normal;
}


@import 'components/sections-canvas';
@import 'components/sections-conteiner';
@import 'components/button';
@import 'components/site-header';
@import 'components/logo';
